<form align="center">
    <table>
       
        
    <tr><td>Room code: <input type="text" placeholder="room code" required><br></tr>  
           <tr><td>Booking Id: <input type="text" placeholder="booking Id" required><br></td>
        </tr>
    <tr><td>Room code: <input type="text" placeholder="room code" required><br></td></tr>  
        <tr><td>Room capacity: <input type="text" placeholder="Capacity" required><br></td></tr>
            <tr><td>stakeholder: <input type="text" placeholder="Employee Nmae" required><br></td></tr>
                <tr><td>Purpose:<input type="text" placeholder="purpose"><br></td></tr>
                    <tr><td>dateOfBooking<input type="text" placeholder="date" required><br></td></tr>
                        <tr><td>participants:<input type="text" placeholder="participants"><br></td></tr>
   <button>submit</button>
</table>
</form>
